/* styles.css */

/* General styles */
.toggle {
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* Theme-specific styles */
body.light-theme .navbar-toggler-icon {
  background-color: #f6efef;
  color: #000000;
  border: 1px solid #000000;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Navbar styles */
.navbar-dark {
  background-color: #121212 !important;
}

.navbar-light {
  background-color: #ffffff !important;
}

.navbar-dark .nav-link,
.navbar-dark .dropdown-menu {
  color: #ffffff !important;
}

.navbar-light .nav-link,
.navbar-light .dropdown-menu {
  color: #000000 !important;
}

.navbar-toggler {
  background-color: #ffffff;
}

/* Dropdown menu styles */
.dropdown-menu {
  background-color: inherit;
}

/* Card styles */
.card-dark {
  background-color: #333333;
  color: #ffffff;
}

.card-light {
  background-color: #ffffff;
  color: #000000;
}

.card-dark .cartItemDetail,
.card-dark .card-title {
  color: #ffffff;
}

.card-light .cartItemDetail,
.card-light .card-title {
  color: #000000;
}

.card-img-small2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Theme-specific card styles */
body.dark-theme .card {
  background-color: #333333;
  color: #ffffff;
}

body.light-theme .card {
  background-color: #ffffff;
  color: #000000;
}

/* Utility classes */
.hide {
  display: none;
}

/* Dark theme navbar container styles */
.navbar-container.dark {
  background-color: #333;
  color: #fff;
  /* Add more dark theme styles as needed */
}
  .navbar-location {
    display: flex;
    align-items: center;
    color: #fff; /* Adjust based on your theme */
  }
  
  .navbar-location svg {
    margin-right: 0.5rem;
  }
  
  .navbar-location span {
    font-size: 16px; /* Adjust as needed */
  }
  .input-group {
    position: relative;
  }
  
  .clear-button {
    position: absolute;
    right: 10px; /* Adjust based on input padding */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 0.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .clear-button:hover {
    background-color: #f0f0f0;
  }
  
  .suggestions-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 150px;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    top: 35px; /* Adjust based on input box height */
  }
  
  .suggestions-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover,
  .suggestions-list li.active {
    background-color: #f0f0f0;
  }
  

  .navbar-toggler-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .navbar-toggler {
    order: 1;
  }
  
  .navbar-close {
    position: absolute;
    left: 350px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  .collapse.show .navbar-toggler {
    display: none;
  }